.footer {
  align-items: center;
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
}

.footer-title {
  color: $white;
  font-size: 24px;
  padding: 16px 0;
}

.footer-footer {
  align-self: flex-end;
  color: $white;
  font-size: 12px;
  padding: 8px;
}
