.footer {
  align-items: center;
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
}

.footer-title {
  color: $white;
  font-size: 24px;
  padding: 16px 0;
}

.footer-footer {
  align-self: flex-end;
  color: $white;
  font-size: 12px;
  padding: 8px;
}

@media only screen and (max-width: 1024px) {
  .footer {
    margin-top: 150px;
    padding: 55px;
  }

  .footer-logo {
    width: 275px;
  }

  .footer-title {
    color: $white;
    font-size: 28px;
    padding: 32px 0;
  }

  .footer-footer {
    align-self: center;
    padding: 75px 0 20px 0;
  }
}
