.navbar {
  background-color: $white;
  border-bottom: 1px solid $grey;
  box-shadow: 0 5px 15px 0 $grey;
  display: flex;
  height: 90px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-brand {
  align-self: center;
  height: 45px;
  margin: 32px;
}

.nav-title {
  align-self: center;
  font-size: 24px;
  margin: 16px;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    height: 150px;
    box-shadow: 0 15px 30px 0 $grey;
  }

  .nav-brand {
    height: 45px;
    margin: 37px;
  }

  .nav-title {
    display: none;
  }
}
