.technologies {
  display: flex;
  flex-flow: row wrap;
  margin: 0 112px 64px 112px;
}

.card {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 290px;
  margin: 16px;
  padding: 8px;
  position: relative;
  text-align: center;
  width: 200px;

  &:before {
    border-radius: 5px;
    border: 1px solid $green;
    content: "";
    height: 290px;
    left: -10px;
    position: absolute;
    top: -10px;

    transition: left 0.5s ease,
    top 0.5s ease;
    width: 200px;
    z-index: -1;
  }

  &:hover:before {
    left: 10px;
    top: 10px;
  }
}

.tech-logo {
  height: 100px;
  margin: 3px;
  max-width: 100px;
}
