.titles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 1em 2em;
}

.title {
  align-self: center;
  font-size: $big-text;
  margin-left: -33px;
}

.titles-img {
  flex: 0 1;
  height: 90px;
  width: 100px;
}
