.titles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 16px 32px;
}

.title {
  align-self: center;
  font-size: 24px;
  margin-left: -33px;
}

.titles-img {
  flex: 0 1;
  height: 90px;
  width: 100px;
}
